<img src={{movie.image}} />
<div class='movie-details'>
  <h1>{{movie.title}}</h1>
  <div class="details">
    <p class="description">{{movie.description}}</p>
    {{star-rating readonly=true rating=movie.rating class="rating"}}
  </div>
  <button onclick={{action delete movie}}>Delete me</button>
  <button onclick={{action edit movie}}>Edit Movie</button>
</div>